/*
Author: Shayna Jamieson
File Name: styles.css
Last Modified: 12/02/2019

This file contains the relevant styles associated with Shayna-Jamieson-Portfolio page -- index.html
*** The import allows for usage of free google fonts. It must be kept in the file to use custom fonts.
 */

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans:300,400&display=swap');


a, a:hover {
    color: #c62d29;
    text-decoration: none !important;
    cursor: pointer;
}

body {
    font-weight: 300;
}

.col-md-7 {
    border-bottom: 1px solid #c62d29;
}

footer {
    height: 80px;
    background-color: #202020;
    margin-top: 80px;
}

#github-icon {
    margin-left: 20vw;
    margin-right: 20vw;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

#icon-row {
    text-align: center;
}

#intro-paragraph > p {
    font-weight: 300;
    border-bottom: 3px solid #c62d29;
}

#jumbo {
    width: 100%;
    height: 350px;
    margin: 0;
    padding: 0;
    background-image: url("../images/dark_brick_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.row {
    margin-bottom: 50px;
}

#title-container {
    border: 6px solid white;
    padding: 20px;
}

#title-description {
    font-family: 'Open Sans', sans-serif;
    font-size: 3vw;
    font-weight: 300;
}

#title-name, #title-description {
    overflow: hidden;
    white-space: nowrap;
    color: white;
    text-align: center;
}

#title-name {
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 0.1em;
    font-size: 5vw;
    margin-bottom: 10px;
    padding: 15px;
}